.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 8fr;
    height: 450px;
    justify-content: center;
    margin-top: 40px;
}

.loginContainer{
    border-radius: 10px 0px 0px 10px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.subtitulo{
    font-weight: bold;
    font-size: 1.75rem;
}

.paragrafo{
    color: #5b5b5b;
}

.hr{
    background-color: #8844ee;
    width: 200px;
}

.inputParagrafo{
    color: #8844ee;
    font-size: 1.25rem;
    font-weight: bold;
}


.inputDesigner{
    border: none;
    background-color: #bbbbbb50;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid transparent;
}

.inputDesigner:hover{
    border: 2px solid #8844ee;
}

.buttonDesigner{
    border: none;
    background-color: #8844ee;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    text-align: center;
    color: #FFFF;
}

.buttonDesigner:hover{
    background-color: #6a1cde96;
    cursor: pointer;
}

.creditos{
    color: #5b5b5b;
    font-size: 0.85rem;
}

.imagemContainer{
    background-color: #8844ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        border-radius: 0px 10px 10px 0px;
}

.imagem{
    display: block;
    max-width: 100%;
    width: 300px;
}

@media (max-width:800px) {
    .gridContainer{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0px;
    }
    .loginContainer{
        border-radius: 0px 0px 0px 0px;
    }
    .imagemContainer{
        display: none;
    }
}